form {
   display: inline-block;
}

body {
  margin: 40px;
}

button {
  background:#808080;
  border-radius: 5px;
  border:none;
  padding:10;
  font: inherit;
}


.button {
  background:#808080;
  border-radius: 5px;
  border:none;
  padding:3.5px 8px;
  color: #000000;
  text-decoration: none;
  font: inherit;
}

.button:visited {
  background:#808080;
  border-radius: 5px;
  padding:3.5px 8px;
  color: #000000;
  text-decoration: none;
}

.button:link {
  background:#808080;
  border-radius: 5px;
  padding:3.5px 8px;
  color: #000000;
  text-decoration: none;
}

nav{
  width: 100%;
  display: block;
}

.navbutton {
  background:#808080;
  border-radius: 5px;
  padding:5px;
  color: #2A2A2A;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: -webkit-center;
  width: 98.6%;
  display: -webkit-inline-box;
  margin-bottom: 5px;
  margin-top: 5px;
}

.navbutton:visited {
  background:#808080;
  border-radius: 5px;
  padding:5px;
  color: #2A2A2A;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: -webkit-center;
  width: 98.6%;
  display: -webkit-inline-box;
  margin-bottom: 5px;
  margin-top: 5px;
}

.navbutton:link {
  background:#808080;
  border-radius: 5px;
  padding:5px;
  color: #2A2A2A;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: -webkit-center;
  width: 98.6%;
  display: -webkit-inline-box;
  margin-bottom: 5px;
  margin-top: 5px;
}
.navbutton2 {
  background:#808080;
  border-radius: 5px;
  padding:5px;
  color: #2A2A2A;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: -webkit-center;
  width: 48%;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.navbutton2:visited {
  background:#808080;
  border-radius: 5px;
  padding:5px;
  color: #2A2A2A;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: -webkit-center;
  width: 48%;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.navbutton2:link {
  background:#808080;
  border-radius: 5px;
  padding:5px;
  color: #2A2A2A;
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: -webkit-center;
  width: 48%;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.wrapper {
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #DCDCDC;
}

h1 { color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}


h2 { color: #111;
  font-family: 'Open Sans',sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

div { color: #111;
  font-family: 'Open Sans',sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 0px;
  text-align: center;
}

a:hover { color: #4169E1; }
a:visited { color: #696969; }
a:link { color: #5F9EA0; }

@media (max-width: 690px) {
  .navbutton2 {
    width: 98.6%;
  }

  .navbutton2:visited {
    width: 98.6%;

  }
}

